.page {
  max-width: 320px;
  background-color: #d9d9d9;
  margin: auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* need to download and upload fonts for Lato */
  font-size: 16px;
  line-height: 20px;
}

/* Header Block */

.header {
  background-color: #00acee;
}

.header__content {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.header__date {
}

.header__time {
}

/* Landing Page Block */

.landing__page {
  margin: 200px 0 400px;
}

.landing__text-container {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.landing__title {
}

.landing__image {
  height: 20px;
  width: 20px;
  margin: 20px 0;
  padding-left: 20px;
}

.landing__button-container {
  text-align: center;
}

.landing__button {
  background-color: #00acee;
  font-size: 12px;
  height: 30px;
  width: 130px;
  margin: 0 auto;
}

.question__page {
  margin: 200px 0 400px;
}

.question__question-title {
  margin: 0 30px 40px;
}

.question__directions {
}

.question__button-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question__button {
  padding: 0;
  background-color: #00acee;
  height: 18px;
  width: 18px;
  font-size: 12px;
}

.question__text-field {
  padding: 10px 5px 150px;
  border: none;
  width: 100%;
  text-wrap: wrap;
}

.footer {
  margin: 0 10px 30px;
}
